@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    font-size: 64px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7b5bc5;
}

.wrap {
    position: relative;
    display: grid;
    margin: .8rem 1.2rem;
    color: #fff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.disabled {
    opacity: .5;
}

.hidden {
    opacity: 0;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 10px
}

.prevent-select:hover {
    background: rgba(255, 255, 255, 0.4);
}


/* ↓↓ Sélection des niveaux ↓↓ */
#Indication-Niveaux {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: .25rem;
    width: fit-content;
    height: 30px;
    padding: 5px 0;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

#Tooltip-Niveaux {
    position: absolute;
    padding: 10px;
    background: #2c3e50;
    display: grid;
    grid-template-columns: repeat(3, 40px);
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: fit-content;
    top: 47px;
    left: 50%;
    transform: translate(-50%, 0);
}

#Tooltip-Niveaux::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2c3e50;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.niveau {
    display: flex;
    background: #7b5bc5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0.5em 0.2em;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.arrow#Left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px 0 0 4px;
}

.arrow#Right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 4px 4px 0;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

#Left .triangle {
    border-right: 11px solid rgba(255, 255, 255, 0.7);
}

#Right .triangle {
    border-left: 11px solid rgba(255, 255, 255, 0.7);
}

/* ↓↓ Instructions du jeu ↓↓ */
#Instructions {
    padding: 0 20px 0 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    max-width: 900px;
}

h1 {
    font-size: .6rem;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    transform: rota;
}

p {
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

ul {
    font-size: 15px;
}

code {
    padding: 0 2px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}

.help {
    border-bottom: rgba(255, 255, 255, 0.8) 1px solid;
    cursor: pointer;
}

.help:hover::after {
    content: 'translateX(); \A translateY(); \A translateZ(); \A translate([option X], [option Y], [option Z]); \A translate3d([option X], [option Y], [option Z]); \A\A rotateX(angle); \A rotateY(angle); \A rotateZ(angle); \A rotate([option X], [option Y], [option Z]); \A rotate3d([option X], [option Y], [option Z]); \A\A scaleX(); \A scaleY(); \A scaleZ(); \A scale([option X], [option Y]); \A scale3d([option X], [option Y], [option Z]);';
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: #2c3e50;
    /* background: #7b5bc5; */
    white-space: pre-wrap;
    padding: 3px 10px;
    z-index: 100;
}

.editeur {
    position: relative;
    background-color: rgb(224, 224, 244);
    border: 1px solid #808080;
    min-height: 300px;
    min-width: fit-content;
    max-width: 900px;
    padding-left: .5rem;
    margin: 0 auto;
    font-size: .3rem;
}

.nbrLigne {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    text-align: right;
    line-height: 1.26;
    width: fit-content;
    padding: 0 2px;
    background: #808080;
    font-family: "Source Code Pro", monospace;
    font-size: .3rem;
}

pre {
    font-family: "Source Code Pro", monospace;
    font-size: .3rem;
    color: rgb(119, 119, 119);
    line-height: 1.26;
    margin: 0;
}

textarea {
    width: 90%;
    font-family: "Source Code Pro", monospace;
    margin-left: .5rem;
    resize: none;
    border: none;
    outline: none;
}

button {
    font-family: 'PT Sans', sans-serif;
    font-size: .3rem;
    border: none;
    background: #7b5bc5;
    color: #fff;
    padding: .2rem .4rem;
    border-radius: .5rem;
    position: absolute;
    bottom: .3rem;
    right: .3rem;
    cursor: pointer;
}

/* ↓↓ Visuel du jeu ↓↓ */
#Game {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    min-height: 9rem;
}


#Playground-Wrap {
    /* background: rgba(255, 255, 255, 0.2); */
    height: 9rem;
    width: 9rem;
    position: absolute;
}

#Playground {
    position: relative;
    margin: auto 0;
}

#Labyrinthe {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1rem);
    grid-template-rows: repeat(9, 1rem);
    transform-origin: center;
    background: bisque;
    min-height: 9rem;
    min-width: 9rem;
    margin: auto 0;
    border-radius: 20px;
    overflow: hidden;
    transition: transform .5s;
    -webkit-box-shadow: 0px 0px 4px 2px #000;
    box-shadow: 0px 0px 4px 2px #000;
}

#Player {
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: url("RoundSprite.png");
    background-size: cover;
    position: absolute;
    transform-origin: center;
    transition: transform .5s;
}

.wall {
    background: green;
    width: 100%;
    height: 100%;
}

.path {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

#Exit {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 0.50rem 0.50rem;
    background-position: 0 0, 0 0.25rem, 0.25rem -0.25rem, -0.25rem 0px;
}


@keyframes nextLevel {
    0% {
        height: 1rem;
        width: 1rem;
    }

    25% {
        height: 1.4rem;
        width: 1.4rem;
    }

    100% {
        height: 0;
        width: 0;
    }
}

.escape {
    animation: nextLevel 2s forwards;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-1rem);
    }

    66% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake .5s forwards 0s 2;
}

#levelEndScreen {
    backdrop-filter: blur(12px);
    background: linear-gradient(45deg, #000000c0, #00000018);
    width: 40%;
    height: 30%;
    overflow: hidden;
    border-radius: 20px;
}

#levelEndScreen h2 {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    margin: 0;
    font-size: .8rem;
    text-align: center;
}

#levelEndScreen button {
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1600px) {
    #Application {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1500px) {
    .wrap {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #Game {
        grid-row: 1;
    }
}